@charset "UTF-8";

/* header1 */
.header{
	background-color:#e1d5bf;
}
.banner{
	position:relative;
	top:-60px;
	left:30px;
	width:35%;
	height:150px;
	float:left;
}
.title-align{
	margin-top:30px;
}
.title-align ul li{
	display:inline-block;
	vertical-align:middle;
}
.title-align ul li:first-child img{
	vertical-align:middle;
}
.title-align ul li:last-child{
	padding-top:30px;
}
.span-align{
	margin-top:5px;
}
.icon-align{
	width:60px;
	height:60px;
}
.align{
	margin-top:50px;
	
}
.icon-align{
	margin-top:20px;
}
.banner div{
	width:400px;
}
.banner > div > ul > li > a{
	color:#6e4e39;
	font-size:30px;
}
.banner > div > ul > li > a:hover{
	color:#6e4e39;
}
.banner > div > ul > li > a:visited{
	color:#6e4e39;
}
.banner > div > ul > li > a:link{
	color:#6e4e39;
}
.header-content{
	margin-top:30px;
	margin-left:100px;
	margin-bottom:30px;
}
.banner .header-content b{
	font-size:2em;
}
.banner .header-content div{
	border-radius:3px;
	background:#947a63;
	width:150px;
	height:30px;
	margin-top:20px;
	height:40px;
	cursor:pointer;
}
.banner .header-content span{
	padding-top:10px;
	padding-left:20px;
	text-align:center;
	vertical-align:middle;
}
.banner .header-content a{
	color:white;
}
.banner .header-content a:link{
	color:white;
}
.banner .header-content a:hover{
	color:white;
}
.banner .header-content a:visited{
	color:white;
}
.banner-img{
	display:inline-block;
	width:200px;
	height:200px;
	
}
#banner-text{
	line-height:170%;
}
.banner-btns{
	text-align:right;
	padding:10px 10px 0 0;
}
.banner-btns a:link{
	color:white;
}
.banner-btns a:hover{
	color:white;
}
.banner-btns a:visited{
	color:white;
}
.banner-btns div{
	display:inline-block;
	border-radius:5px;
	width:90px;
	height:30px;
	color:white;
}
.banner-btns .btn-signup{ background:#af794b; }
.banner-btns .btn-login{ background:#6e4e39; }
#main_nav{
	padding: 5px 0;
	background-color:#c3ae93;
}
#main_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#main_nav ul a{
	color:white;
}
#main_nav .myMenu{
	margin-left:0;
}
#main_nav .myMenu > li{
	display:inline-block;
	width:15%;
	height:30px;
	text-align:center;
	position:relative;
}
#main_nav .myMenu .menu-theme div{
	height:30px;
}
#main_nav .myMenu li .submenu{
	display:none;
	position:absolute;
	background-color:#9e8d71;
	width:100%;
}
#main_nav .myMenu li:hover{
	background-color:#c1a980;
}
#main_nav .myMenu .other-li:hover{
	background-color:#9e8d71;
}
#main_nav .myMenu li:hover .submenu{
	display:block;
}
#main_nav .myMenu li .submenu li{
	display:inline-block;
	width:100%;
	height:30px;
	padding:0 0 0 0;
	text-align:center;
}
#main_nav .myMenu li .submenu li:hover{
	background-color:#af794b;
}
#main_nav .myMenu .other-li{
	width:400px;
}
#main_nav .other-li .search{
	width:100%;
	height:100%;
}
#main_nav .other-li .search form{
	height:100%;
	padding-top:2px;
}
#main_nav .myMenu .other-li .search form > input[type="button"]{
	height:87%;
	border:0;
	border-radius:15px 0 0 15px;
}
#main_nav .myMenu .other-li .search form > input[type="text"]{
	width:90%;
	height:80%;
	border:0;
	border-radius:0 15px 15px 0;
}