@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

.wrap{
  padding:120px 0;
  font-size:62px;
  color:#9e8d71;
  width:400px;
  font-family:'Karla';
  margin:0 auto;
  text-align:center;
}

input{
  font-family:'Ubuntu';
  font-weight:300;
  border:0;
  border-bottom:1px solid #9e8d71;
  width:100%;
  height:36px;
  font-size:26px;
}

input:focus{
  outline:none;
  box-shadow:none;
  background:#ded1bd;
}

button{
  border:0;
  background:transparent;
  padding:5px;
  margin-top:50px;
  position:relative;
  outline:0;
}

.buttonafter:after{
content:'';
display:block;
position:absolute;
top:8px;
left:100%; /*should be set to 100% */
width:0;
height:0;
border-color: transparent transparent transparent #14a03d; /*border color should be same as div div background color*/
border-style: solid;
border-width: 5px;

}

.main{
  background:#9e8d71;
  color:#fff;
  float:left;
}

.login{
  background:#9e8d71;
  color:#fff;
  float:right;
}

.login.buttonafter {
    background:#14a03d;
}

/* header2 CSS */
#main2_logo{
	padding-top:20px;
}
#main2_logo div h1 a{
	color:#6e4e39;
	text-decoration-line: none;
}
#main2_nav{

	padding:2px 10px 20px 10px;
	height:20px;
	float:right;
}
.left{
	float:left;
	margin-left:20px;
	line-height:0.2em;
	
}
#main2_nav ul.myMenu > li{
	display:inline-block;
	width:100px;
	text-align:center;
	vertical-align: middle;
	padding-top:5px;
	position:relative;
}
#main2_nav .myMenu .menu-theme .submenu{
	display:none;
	margin:0;
	padding:10px;
	position:absolute;
}
#main_nav2 .myMenu li:hover > .submenu{
	display:block;
}
#main2_nav ul.myMenu > li.menu-theme:hover > .submenu{
	display:block;
}

#main2_nav ul li a {
	color:#9e8d71;
	text-decoration-line: none;
}