@charset "UTF-8";
.total{
	margin: 30px 220px;
}
.page{
	background:white;
	margin:80px 100px 100px 100px;
	min-height:700px;
	padding:30px;
}

.profile-image{
	width: 120px;
	height:120px;
	border-radius: 70%;
	overflow: hidden;
	margin-top:15px;
	margin-left: 40px;
}
.profile-image2{
	width: 200px;
	height:200px;
	border-radius: 70%;
	overflow: hidden;
	margin-top:20px;
	margin-left: 40px;
}
.my-photo{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.photo_submit{
  background:#9e8d71;
  color:#fff;
  display: inline-block;
}

.photo_reset{
  background:#9e8d71;
  color:#fff;
  display: inline-block;
}
button{
  border:0;
  background:transparent;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
}
.correction_btn{
  background:#9e8d71;
  color:#fff;
  display: inline-block;
}
.buttonafter:after{
content:'';
display:block;
position:absolute;
top:8px;
left:100%; /*should be set to 100% */
width:0;
height:0;
border-color: transparent transparent transparent #14a03d; /*border color should be same as div div background color*/
border-style: solid;
border-width: 5px;

}
input[type=file]::file-selector-button {
  width: 65px;
  height: 20px;
  background: #fff;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
  background: #4d4d4d;
  color: #fff;
}
.profile{
  width: 600px;
  height: 400px;
  display: inline;
}
.float{
	float:left;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.div-info{
	text-align:center;
	width:1200px;
	height: 800px;
	display: inline;
}
.mypage-information{
	height:130px;
	width:300px;
	background: #e8e8e8;
	margin-right:20px;
	float:left;
	margin-top:50px;
}
.mypage-div{
	float:left;
	margin: 15px;
	margin-top: 85px;
	margin-left: 80px;
}
.mypoint-div{
	float:left;
	margin-top: 55px;
	margin-left: 80px;
	text-align:center;
}

#font-a{
	color:black;
	font-size:23px;
}
#font-b{
	color:black;
	font-size:20px;
}
#font{
	color: black;
	font-size:20px;
	vertical-align:middle;
}