@charset "UTF-8";
h3{
	 font-size: 46px;
}
.total{
	margin: 30px 220px;
}
.page{
	background:white;
	margin:80px 100px 100px 100px;
	min-height:700px;
	padding:30px;
}

.profile-image{
	width: 120px;
	height:120px;
	border-radius: 70%;
	overflow: hidden;
	margin-top:15px;
	margin-left: 40px;
}
.profile-image2{
	width: 200px;
	height:200px;
	border-radius: 70%;
	overflow: hidden;
	margin-top:20px;
	margin-left: 40px;
}
.profile-image3{
	width: 250px;
	height:250px;
	border-radius:70%;
	overflow: hidden;
	margin-top:20px;
	margin-left: 40px;
}
.profile-image4{
	width: 90px;
	height:90px;
	border-radius:70%;
	overflow: hidden;
	margin-top:20px;
	margin-left: 40px;
}
.my-photo{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.photo_submit{
  background:#9e8d71;
  color:#fff;
  display: inline-block;
}
.correction{
  background:#9e8d71;
  color:#fff;
  display: inline-block;
  margin-top:320px;
  margin-left:-50px;
}
.prev_btn{
  margin-top: -40px;
  background:#9e8d71;
  color:#fff;
}

.photo_reset{
  background:#9e8d71;
  color:#fff;
  display: inline-block;
}
button{
  border:0;
  background:transparent;
  padding:5px;
  margin-right: 5px;
  margin-top:50px;
  position:relative;
  outline:0;
}
.correction_btn{
  background:#ae9d92;
  color:#fff;
  display: inline-block;
}
.correction2_btn{
  background:#e1d5bf;
  color:#fff;
  display: inline-block;
}
.buttonafter:after{
content:'';
display:block;
position:absolute;
top:8px;
left:100%; /*should be set to 100% */
width:0;
height:0;
border-color: transparent transparent transparent #14a03d; /*border color should be same as div div background color*/
border-style: solid;
border-width: 5px;

}
input[type=file]::file-selector-button {
  width: 65px;
  height: 20px;
  background: #fff;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  cursor: pointer;
}
input[type=file]::file-selector-button:hover {
  background: #4d4d4d;
  color: #fff;
}
.profile{
  width: 600px;
  height: 400px;
  display: inline;
}
.float{
	float:left;
}
.float2{
	float:right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.btn-float{
	float:left;
}
.btn_align{
	margin-left:300px;
}
.div-info{
	text-align:center;
	width:1200px;
	height: 800px;
	display: inline;
}
.mypage-information{
	height:130px;
	width:300px;
	background: #e8e8e8;
	margin-right:20px;
	float:left;
	margin-top:50px;
}
.mypage-div{
	float:left;
	margin: 15px;
	margin-top: 80px;
	margin-left: 80px;
}
.mypage-div2{
	float:left;
	margin-left: 80px;
}
.mypage-div3{
	float:left;
	margin-left: 160px;
	margin-top:-10px;
}
.mypage-div4{
	float:left;
	margin-left: 170px;
}
.mypage-div5{
	float:left;
	margin-left: 80px;
}

.mypoint-div{
	float:left;
	margin-top: 55px;
	margin-left: 80px;
	text-align:center;
}

.mypage-div4 ul li{
	font-size:15px;
}
#font-a{
	color:black;
	font-size:23px;
}
#font-b{
	color:black;
	font-size:20px;
}
#font-c{
	color:#6e4e39;
	font-size:18px;
}
#font{
	color: black;
	font-size:20px;
	vertical-align:middle;
}
#font-d{
	color:#6e4e39;
	font-size:18px;
}
ul li{
	margin-top:10px;
}
.levelInformation_table{
	width:76%;
	
	border-collapse:collapse;
	margin-top:20px;
	
}
table td{
	border:1px solid #e8e8e8;
	padding:5px;
	text-align: center;
}
table th{
	border:1px solid #fff;
	padding:5px;
	text-align: center;
	background-color:#e1d5bf;
}
.margin{
	margin-left:300px;
	margin-top:100px;
}
.align_center{
	margin-left:110px;
}
.banner-img{
	display:inline-block;
	margin-top:30px;
	margin-left:30px;
	width:150px;
	height:180px;
	
}
